<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hello">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Hello">
        <activity
            android:name=".InsideJobCandidate"
            android:exported="false" />
        <activity
            android:name=".CategoryInfo"
            android:exported="false" />
        <activity
            android:name=".InsideJob"
            android:exported="false" />
        <activity
            android:name=".UpdateExistingJob"
            android:exported="false" />
        <activity
            android:name=".ExistingJobs"
            android:exported="false" />
        <activity
            android:name=".UpNewJob"
            android:exported="false" />
        <activity
            android:name=".UpNewJobDetails"
            android:exported="false" />
        <activity
            android:name=".UpNewJobOrWatchJobExisting"
            android:exported="false" />
        <activity
            android:name=".CV_Employee"
            android:exported="false" />
        <activity
            android:name=".JobsList"
            android:exported="false" />
        <activity
            android:name=".chooseAProfession"
            android:exported="false" />
        <activity
            android:name=".ResetPassword"
            android:exported="false" />
        <activity
            android:name=".CV_Candidate"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Signup"
            android:exported="false" />
        <activity
            android:name=".Homepage"
            android:exported="false" />
        <activity
            android:name=".login"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>